<div class="header">
  <div class="navbar navbar-default" role="navigation" bs-navbar ng-controller="NavbarCtrl">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">angularjsRestClient</a>
    </div>
    <ul class="nav navbar-nav">
      <li data-match-route="/task"><a ng-href="#/task">task</a></li>
      <li data-match-route="/language"><a ng-href="#/language">language</a></li>
    </ul>
    <div style="text-align: right;margin-right: 100px; margin-top: 5px;">

    <span ng-controller="LoginCtrl as ctrl">
      <form class="form-inline">
        <span style="color:red;">{{errorMessage}}</span>
        <span ng-show="!loggedIn">
          <input type="text" ng-change="ctrl.clearError()" class="form-control" id="user.username" ng-model="user.username" placeholder="username">
          <input type="password" ng-change="ctrl.clearError()" class="form-control" id="user.password" ng-model="user.password"
                 placeholder="password">
          <button id="button.login" class="btn btn-primary btn-sm" ng-click="ctrl.login(user)">login</button>
        </span>
      </form>

      <span style="color: blue; font-size: 8pt;" ng-show="debug">
      loggedIn: {{loggedIn}}  ;
      username: {{username}} ;
      getUsername(): {{getUsername()}}
      </span>

      <span ng-show="loggedIn" id="username"><strong>{{getUsername()}}</strong></span>

      <button ng-show="loggedIn" class="btn btn-danger btn-sm" ng-click="ctrl.logout()" id="button.logout">logout</button>

    </span>

    </div>


  </div>


</div>

